{% extends "base.html" %}

{% block style %}

tr{
    height:40px;
    border-bottom: 1px solid #ddd;
}

#header {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ccced1;
    font-family: monospace;
    font-size: 30px;
    font-weight: lighter;
}

#test-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5%
}

#test-table {
    border-collapse: collapse;
    margin: 5px 0;
    width: 100%;
    min-width: 400px;
}

#test-table thead th {
    color: #646a73;
    text-align: left;
    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
}

.col1 {
    width: 13%;
}

.col2 {
    width: 18%;
}

.col3 {
    width: 18%;
}

.col4 {
    width: 18%;
}

.col5 {
    width: 23%;
}

.col6 {
    width: 10%;
}

#dis-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;
}

#dis-title button {
    cursor: pointer;
    width: 110px;
    height: 35px;
    border: 1.5px solid #1f883d;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 15px;
    margin: 0 5px 0 5px;
}

#dis-title p {
    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
}

#test-table tbody th{
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    font-weight: lighter;
}

.template-box {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #1f883d;
    border-radius: 6px;
}

.template-title {
    position: absolute;
    top: 20px;
    text-align: center;
    width:100%;
    font-family: monospace;
    font-size: 23px;
}

.template-box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 20px;
    font-family: monospace;
}

.template-box button {
    position: absolute;
    bottom: 3%;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    width: 110px;
    height: 35px;
    border: 1.5px solid #1f883d;
    border-radius: 7px;
    background-color: #1f883d;
    color: #ffffff; 
    font-weight: bolder;
    font-size: 15px;
    margin: 0 5px 0 5px;
}

.label1 {
    font-size: 18px;
    margin-right: 15px;
    white-space: nowrap;
}

.label2 {
    word-wrap: break-word;
    height: 30px;
    width: 190px;
    padding-left: 10px;
    border-radius: 6px;
    border-color: #d0d7de;
    border-style: solid;
    border-width: 1px;
    background-color: #f6f8fa;
    color: #8c95a2;
    font-family: monospace;
    font-size: 15px;
}

.other-op {
    display: flex;
    vertical-align: middle;
    cursor: pointer;
}

.menu {
    visibility: hidden;
    position: absolute;
    right: 16.5%;
    background-color: #ffffff;
    transform: translateX(50%);
    border: 1px solid rgba(31, 35, 41, 0.15);
    border-radius: 6px;
    height: 60px;
    width: 80px;
}

.menu ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.menu-li {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    align-items: left;
    list-style: none;

    font-family: monospace;
    font-size: 15px;
    font-weight: lighter;
}

.menu-li:hover {
    background-color: #f4f5f7;
}

.menu-content{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    color: #000000;
}

.menu-content img {
    width: 15px;
    padding-right: 8px;
}
{% endblock %}

{% block content %}
<div id="header">
    <p style="margin: 0 0 0 0;">Test</p>
</div>
<div id="test-container">
    <div id="dis-title">
        <p style="margin: 0;">Vulnerability detection</p>
        <button style="background-color: #1f883d; color: #ffffff;" onclick="showAddBox()">Add</button>
    </div>
    <table id="test-table">
        <thead>
            <tr>
                {% for col in test_brief_desc %}
                    <th class="col{{ loop.index }}"> {{ col }} </th>
                {% endfor %}
                <th class="col{{ test_brief_desc|length + 1 }}">Operate</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr>
                {% for key in test_brief_desc %}
                    <th class="col{{ loop.index }}" style="vertical-align: middle;">
                        <div style="display: flex; flex-direction: row; vertical-align: middle; width: 100%;">
                            {% if loop.index == 1 %}
                            <img src="{{ url_for('static', filename='detection.png') }}" style="width: 20px; margin-left: 0; margin-right: 5px;">
                            {% endif %}
                            <p style="width:80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0;">{{ test[key] }}</p>
                        </div>
                    </th>
                {% endfor %}
                <th style="vertical-align: middle;">
                    {% if test.status == "finish" %}
                    <div class="other-op" onclick="showMenu(this)">
                        <img src="{{ url_for('static', filename='other.png') }}" style="width: 20px; margin-right: 0;">
                        <div class="menu">
                            <ul style="height: 100%;">
                                <li class="menu-li" onclick="showReportBox({{ test.t_id }})">
                                    <div class="menu-content">
                                        <img src="{{ url_for('static', filename='report.png') }}">
                                        <span>Report</span>
                                    </div>
                                </li>
                                <li class="menu-li" onclick="this.firstElementChild.submit();">
                                    <form id="form-del" method="post" class="menu-content" action="{{ url_for('test.delete') }}">
                                        <input type="hidden" name="t_id" value="{{ test.t_id }}">
                                        <input type="hidden" name="u_id" value="{{ user.u_id }}">
                                        <img src="{{ url_for('static', filename='delete.png') }}">
                                        <span>Delete</span>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="other-op">
                        <img src="{{ url_for('static', filename='processing.png') }}" style="width: 20px; margin-right: 0;">
                    </div>
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form id="add-test-box" class="template-box" method="post" action="{{ url_for('test.detect') }}">
        <input type="hidden" name="u_id" value="{{ user.u_id }}">
        <label class="template-title">Vulnerability detection</label>
        <div style="margin-top: 65px;">
            <label class="label1">Name</label>
            <input class="label2" style="width: 175px;" name="t_name" placeholder="name">
        </div>
        
        <div>
            <label class="label1">LLM</label>
            <select class="label2" name="llm" id="test-add-llm"></select>
        </div>
        
        <div>
            <label class="label1">Prompt library</label>
            <select class="label2" name="prompt" id="test-add-prompt"></select>
        </div>
        
        <div>
            <label class="label1">Question bank</label>
            <select class="label2" name="question" id="test-add-question"></select>
        </div>
        
        <div>
            <label class="label1">Selection strategy</label>
            <select class="label2" style="width: 170px;" name="selection_strategy" id="test-add-selection">
                <option value="Random">Random</option>
                <option value="Round robin">Round robin</option>
                <option value="MCTS-Explore">MCTS-Explore</option>
            </select>
        </div>
        
        <div>
            <label class="label1">Stop condition</label>
            <select class="label2" name="stop_condition" id="test-add-stop-condition">
                <option value="max-iteration">Max iteration</option>
                <option value="max-vulnerability">Max vulnerability</option>
            </select>
        </div>
        
        <div>
            <label class="label1">Num</label>
            <input class="label2" style="width: 175px;" name="num" placeholder="num">
        </div>
        
        <div>
            <button type="submit" style="right: 68%">Detect</button>
            <button type="button" style="right: 32%" onclick="showAddBox()">Cancel</button>
        </div>
    </form>
    <div id="report-box" class="template-box" style="width: 450px; height: 210px;">
        <label class="template-title">Vulnerability report</label>
        
        <div style="margin-top: 65px;">
            <label class="label1">Number of attack</label>
            <label class="label2" id="report-attack" style="width: 150px; line-height: 30px;"></label>
        </div>
        
        <div>
            <label class="label1">Number of vulnerability</label>
            <label class="label2" id="report-vulnerability" style="width: 150px; line-height: 30px;"></label>
        </div>
        
        <div>
            <a id="download" href="{{ url_for('prompt.download', filename='file/prompt_template.csv') }}" download="report.csv" style="text-decoration: none;">
                <button type="button" style="right: 68%" onclick="showReportBox()">Download</button>
            </a>
            <button type="button" style="right: 32%" onclick="showReportBox()">Cancel</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script> 
    $.ajax({
        url: "{{ url_for('llm.brief_desc_list', u_id=user.u_id) }}",
        type: 'get',
        success: function(response) {
            var select = $('#test-add-llm');
            var llms = response.llms;
            for( var i = 0; i < llms.length; i++) {
                var option = $('<option></option>').attr('value', llms[i].l_id).text(llms[i].l_name);
                select.append(option);
            }
        }
    });
    
    $.ajax({
        url: "{{ url_for('prompt.brief_desc_list', u_id=user.u_id) }}",
        type: 'get',
        success: function(response) {
            var select = $('#test-add-prompt');
            var prompts = response.prompts;
            for( var i = 0; i < prompts.length; i++) {
                var option = $('<option></option>').attr('value', prompts[i].p_id).text(prompts[i].p_name);
                select.append(option);
            }
        }
    });
    
    $.ajax({
        url: "{{ url_for('question.brief_desc_list', u_id=user.u_id) }}",
        type: 'get',
        success: function(response) {
            var select = $('#test-add-question');
            var questions = response.questions;
            for( var i = 0; i < questions.length; i++) {
                var option = $('<option></option>').attr('value', questions[i].q_id).text(questions[i].q_name);
                select.append(option);
            }
        }
    });
    
    function showMenu(clicked) {
        var div_op_list = document.querySelectorAll(".other-op");
        div_op_list.forEach(function(div_op) {
            var menu = div_op.getElementsByClassName("menu")[0];
            if(div_op != clicked) {
                menu.style.visibility = "hidden";
            }else{
                if (menu.style.visibility == "hidden") {
                    menu.style.visibility = "visible";
                } else{
                    menu.style.visibility = "hidden";
                }
            }
        })
    };
    
    function showAddBox() {
        var add_box = document.getElementById('add-test-box')
        if (add_box.style.visibility == 'hidden') {
            add_box.style.visibility = 'visible';
        } else {
            add_box.style.visibility = 'hidden';
        }
    };
    
    function showReportBox(t_id) {
        var report_box = document.getElementById('report-box');
        if (report_box.style.visibility == 'hidden') {
            $.ajax({
                url: "{{ url_for('test.report') }}",
                type: 'get',
                data: {
                    t_id: t_id,
                },
                success: function(response) {
                    var label1 = document.getElementById('report-attack');
                    label1.textContent = response.attack;
                    var label2 = document.getElementById('report-vulnerability');
                    label2.textContent = response.success;
                }
            });
            var link = document.getElementById('download');
            link.href = '/test/download?t_id=' + t_id;
            report_box.style.visibility = 'visible';
        } else {
            report_box.style.visibility = 'hidden';
        }
    }
</script>
{% endblock %}